{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
        <h2>Your Portfolio</h2>
        <div>
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks%}
                <tr>
                    <td>{{stock["name"]}}</td>
                    <td>{{stock["symbol"]}}</td>
                    <td>{{stock["total_quantity"]}}</td>
                    <td>{{usd(stock["price"])}}</td>
                    <td>{{usd(stock["total_quantity"]*stock["price"])}}</td>
                </tr>
                {%endfor%}
                <tr>
                    <td>Cash</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{usd(cash)}}</td>
                </tr>
            </tbody>
            <tfoot>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{usd(total)}}</td>
            </tfoot>
        </table>
        </div>
{% endblock %}
